<div class="flex flex-col gap-8 py-8 pr-6">
  <span class="text-xl font-bold">My Sidenav</span>
  <nav class="flex flex-col gap-5">
    <a
      routerLink="/products"
      routerLinkActive="routeActive"
      [routerLinkActiveOptions]="{ exact: true }"
      class="[&.routeActive]:text-blue-500"
    >
      Product Management</a
    >
    <a
      routerLink="/products/edit/6"
      routerLinkActive="routeActive"
      class="[&.routeActive]:text-blue-500"
    >
      Product 6</a
    >
    @for (navItem of navItems; track navItem) {
      <a
        href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&pp=ygUMcmljayByb2xsaW5n"
        target="_blank"
        >Something Else {{ navItem }}</a
      >
    }
  </nav>
</div>
