<div class="flex flex-col gap-4">
  <h2 class="text-2xl font-bold">Create Product</h2>
  <div class="rounded border border-slate-400 shadow-lg">
    <form
      class="grid grid-cols-4 gap-3 p-4"
      (ngSubmit)="onSubmit()"
      [formGroup]="productForm"
    >
      <label for="name" class="flex gap-5">
        <span class="grow basis-1 font-semibold">Name</span>
      </label>
      <input
        class="col-span-3 grow rounded border p-2"
        [ngClass]="{
          'border-red-500':
            productForm.controls.name.touched &&
            productForm.controls.name.errors
        }"
        type="text"
        name="name"
        formControlName="name"
      />
      <label for="price" class="flex gap-5">
        <span class="grow basis-1 font-semibold">Price</span>
      </label>
      <input
        class="col-span-3 grow rounded border p-2"
        [ngClass]="{
          'border-red-500':
            productForm.controls.price.touched &&
            productForm.controls.price.errors
        }"
        type="number"
        name="price"
        formControlName="price"
      />
      <label for="category" class="flex gap-5">
        <span class="grow basis-1 font-semibold">Category</span>
      </label>
      <div formGroupName="category" class="col-span-3 grow">
        <select
          class="h-full w-full rounded border p-2"
          [ngClass]="{
            'border-red-500':
              productForm.controls.category.controls.id.touched &&
              productForm.controls.category.controls.id.errors
          }"
          formControlName="id"
        >
          <option value="-1">Select Category</option>
          <option *ngFor="let category of categories" [value]="category.id">
            {{ category.name }}
          </option>
        </select>
      </div>
      <label for="description" class="flex gap-5">
        <span class="grow basis-1 font-semibold">Description</span>
      </label>
      <input
        class="col-span-3 grow rounded border p-2"
        [ngClass]="{
          'border-red-500':
            productForm.controls.description.touched &&
            productForm.controls.description.errors
        }"
        type="text"
        name="description"
        formControlName="description"
      />
      @if (apiError) {
        <div class="col-span-full text-red-500">
          <span class="text-lg font-semibold"
            >An Error Occured. Is the name already taken?</span
          >
        </div>
      }
      <button
        class="col-span-full rounded bg-blue-500 px-4 py-2 text-white transition-colors hover:bg-blue-600"
      >
        <span class="text-lg font-semibold">Create</span>
      </button>
    </form>
  </div>
</div>
