<div class="flex flex-col gap-10">
  <a
    routerLink="/products"
    class="flex items-center gap-2 text-lg text-cyan-500"
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="h-6 w-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18"
      />
    </svg>
    <span>Back to Product Overview</span>
  </a>
  <h2 class="text-2xl font-bold">
    Edit Product <i>{{ originalProduct?.name }}</i>
  </h2>
  <div class="rounded border border-slate-400 shadow-lg">
    <app-product-form
      [apiError]="apiError"
      [apiPending]="apiPending"
      [product]="originalProduct"
      (onSubmitEvent)="onSubmit($event)"
      [submitButtonText]="'Update'"
    ></app-product-form>
  </div>
</div>
